.blur-load {
	width: 100%;

	// height: 300px;

	// position: relative;
	background-position: center;
	background-size: cover;

	&::before {
	  content: '';

	  position: absolute;
	  inset: 0;

	  background-color: rgb(255 255 255 / 10%);

	  animation: pulse 2.5s infinite;
	  @keyframes pulse {
		0% {
		  background-color: rgb(255 255 255 / 0%);
		}

		50% {
		  background-color: rgb(255 255 255 / 10%);
		}

		100% {
		  background-color: rgb(255 255 255 / 0%);
		}
	  }
	}

	& > img {
		opacity: 0;
		transition: opacity 200ms ease-in-out;
	}

	&.loaded::before {
		display: none;
	}

	&.loaded > img {
		opacity: 1;
	}
}

img {
	width: 100%;
}
